body {
	background-color: #dae4ee;
}

.home {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
		url("../images/pexels-olia-danilevich-4974914.jpg");
	overflow-y: hidden;
}

.intro {
	color: whitesmoke;
	padding: 8% 20%;
	font-size: 20px;
	text-align: justify;
	font-weight: 300;
}

.intro h1 {
	font-size: 50px;
	font-weight: 500;
}

.intro h3 {
	font-weight: 400;
}
